# Gradle
.gradle/
build/
**/build/

# Local machine config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# APK / AAB
*.apk
*.aab

# Signing files
*.jks
*.keystore

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/